// ------------------------------ //
// -- Main Banner Image styles -- //
// ------------------------------ //

.mainbanner-img-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.mainbanner-img{
    height: auto;
    max-width: 100%;
}

