@import "../../../styles/variables";

// -------------------------- //
// -- More Button styles ---- //
// -------------------------- //

.more-btn {
  &:hover,
  &:focus {
    background-color: transparent !important;
    color: $black !important;
  }
}

.more-btn-menu {
  li {
    font-family: $font-poppins-semibold;
    font-size: 14px;
    padding: 10px 25px;

    &:hover {
      background-color: $main-green !important;
      color: $white !important;
    }
  }
}
