@import "../../../styles/variables";

// -------------------------- //
// -- App Container styles -- //
// -------------------------- //

.vector-bg {
  z-index: -10;
  position: absolute;
  top: -14px;
  left: -356px;
  width: 1448px;
  height: 700px;
}

.content {
  padding: 20px 70px;
  
  // Add a background image with light fading effect
  background-image: 
    linear-gradient(rgba(58, 106, 214, 0.5), rgba(58, 106, 214, 0.5)), // Color overlay with transparency
    url('../../../assets/images/bg-image-medtime.jpg');                                     // Background image
  background-size: cover;                                              // Ensures the image covers the entire area
  background-position: center;                                         // Centers the image
  background-repeat: no-repeat;                                        // Prevents the image from repeating
  background-blend-mode: multiply;                                      // Blends the overlay color and the image
  opacity: 0.9;   
}

// mobile screen sizes
@media screen and (max-width: 478px) {
  .content {
    padding: 0;
    background-image: none; // No background image on mobile for better performance
  }

  .vector-bg {
    display: none;
  }
}

// tablet and smaller desktop screen sizes
@media screen and (min-width: 478px) and (max-width: 1000px) {
  .vector-bg {
    height: 446px;
    width: 845px;
  }
}

// desktop and bigger screen sizes
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .vector-bg {
    height: 566px;
    width: 1261px;
  }
}
